@model SCXC.Models.AsientosContable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AsientosContable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountSeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountSeat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movementType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movementType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seatAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seatAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idAuxiliarSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idAuxiliarSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAsiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
